# Frontend
node_modules/
dist/
vite.config.ts.*

# OS
.DS_Store
Thumbs.db

# Backend - Python
venv/
__pycache__/
*.pyc

# Database
db.sqlite3
db_backup.json
*.tar.gz

# Environment variables (CRITICAL)
.env
.env.*

# Django media & static
media/
staticfiles/

# Logs
*.log

# IDE
.vscode/
.idea/