modules = ["python-3.11", "web"]

run = "gunicorn ticketflix.wsgi:application --workers 4 --bind 0.0.0.0:5000 --timeout 120 --access-logfile -"

hidden = [".config", ".git", "generated-icon.png"]

[nix]
channel = "stable-24_05"
packages = ["python311Packages.pillow"]

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[userenv]

[userenv.shared]
GOOGLE_CLIENT_ID = "927760185340-sgdf47rqhvvgbub0fh0em4lu98n7355t.apps.googleusercontent.com"
