modules = ["python-3.11", "web"]

run = "python manage.py runserver 0.0.0.0:5000"

hidden = [".config", ".git", "generated-icon.png"]

[nix]
channel = "stable-24_05"
packages = ["python311Packages.pillow"]

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"
